# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\kaggle_30ML\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
